aiofiles
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
Brotli
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
contourpy
crewai
crewai-tools
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
deprecation
distro
docopt
docstring-parser
docx2txt
duckduckgo_search
embedchain
et-xmlfile
executing
faiss-cpu
fastapi
fastjsonschema
ffmpy
filelock
Flask
Flask-WTF
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
gptcache
gradio_client
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
imbalanced-learn
imblearn
importlib-metadata
importlib_resources
iniconfig
instructor
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mutagen
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nbmerge
nest-asyncio
nodeenv
notebook
notebook_shim
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
pluggy
posthog
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
pulsar-client
pure-eval
py
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic_core
pydeck
pydub
PyGithub
Pygments
PyJWT
pylance
PyNaCl
pyparsing
pypdf
PyPDF2
PyPika
pyproject_hooks
pyreadline3
pyreqwest_impersonate
pyright
pyrsistent
pysbd
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytube
pytz
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
ratelimiter
regex
requests
requests-oauthlib
retry
rfc3339-validator
rfc3986-validator
rich
rsa
ruff
schema
scikit-learn
scipy
seaborn
selenium
semantic-version
semver
Send2Trash
shapely
shellingham
six
sklearn
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tavily-python
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typer
typing-inspect
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
wsproto
WTForms
yarg
yarl
youtube-transcript-api
yt-dlp
zipp
```
